<%= link_to "Back to List of moms", moms_path %>
  <h1> <%= @mom.name %>'s Info </h1>
      <p class="mom_d"> you are working as a <%= @mom.job %> </p>
      <p class="mom_d"> you are <%= @mom.age %> years old </p>
      <p class="mom_d"> you have <%= Mom.kids(@mom) %> </p>

<div class="bottom_link">
<%= link_to "your kids info", mom_show_children_path(@mom.id) %>
<%= link_to "edit your profile", edit_mom_path %>
</div>
<%= image_tag("mom2.png") %>
